/*
==========================================================================
	DEMO by: KUBIK;
==========================================================================
*/

* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
section{min-height:800px;padding:0;}

/* HTML5 ✰ Boilerplate ✰ normalize */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family:'', sans-serif; color: #222; }
::-moz-selection { background: #feda9e; color: #fff; text-shadow: none; }
::selection { background: #feda9e; color: #fff; text-shadow: none; }
a { color: #225472; }
a:visited { color: #488ab2; }
a:hover { color: #225472; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
/*input:invalid, textarea:invalid { background-color: #f0dddd; }*/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Text */

h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;font-family: '', sans-serif;}
h1 {font-size:30px;font-weight:700;}
h2 {font-size:24px;font-weight:700;}
h3 {font-size:18px;font-weight:500;}
a:hover {color: #225472;}
a, a:hover, a:visited {text-decoration: none;}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        LAYOUT
::::::::::::::::::::::::::::::::::::::::::::::::::
*/

/* layout */
.jumbotron{border-radius:0em;}
/* navbar */
/* footer */
/* common classes */

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/

@media screen and (max-width: 1200px){}
@media screen and (max-width: 991px){}
@media screen and (max-width: 767px){}
@media screen and (max-width: 600px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 360px){}